@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    line-height: 1.6;
}

/* ========================================
   CABEÇALHO
   ======================================== */


header {
    width: 100%;
    padding: 40px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 25px 40px;
    border-radius: 100px;
    color: #ffffff;
    background-color: #009c8a;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 14px rgba(91, 0, 148, 0.795);
    background-color: #0062e2;
    color: #ffffff;
}

.container-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 700;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #2563eb, #38bdf8);
  color: white;
  padding: 80px 40px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: white;
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e0f2fe;
}

/* SOBRE */
.sobre {
  padding: 60px 40px;
  text-align: center;
}

.sobre h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.sobre p {
  max-width: 700px;
  margin: 0 auto 40px auto;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}